<div
  class="carousel-container"
  id="slider-{{ sliderId }}"
  [ngClass]="{ 'fixed-height text-center': eventType === 'banner' }"
>
  <ng-container *ngFor="let image of images; let i = index">
    <a
      [ngClass]="{
        'image-styles-width-fetures': eventType === 'featured',
        'image-styles-width': eventType === 'banner',
        'image-active': selectedIndex === i
      }"
      class="img-value"
      [href]="image?.imageRedirect"
      target="_blank"
    >
      <img
        [src]="image?.imageSrc"
        [alt]="image?.imageAlt"
        style="max-width: 100%; max-height: 100%; height: 196px"
        [ngClass]="{
          'fade-ani': images?.length > 1
        }"
      />
    </a>
  </ng-container>

  <ng-container *ngIf="showDots">
    <ng-container *ngIf="images?.length > 1">
      <div *ngIf="indicators" class="carousel-dot-container">
        <span
          *ngFor="let dot of images; let i = index"
          class="dot"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="selectImage(i)"
        ></span>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="images?.length > 1">
    <div *ngIf="countingValue" class="carousel-dot-counterShow">
      <span
        *ngFor="let dot of images; let i = index"
        class="dot-value"
        [ngClass]="{
          active: selectedIndex === i,
          'display-dots': selectedIndex != i
        }"
        >{{ selectedIndex + 1 }}&nbsp;/&nbsp;{{ images?.length }}</span
      >
    </div>
  </ng-container>
  <button
    *ngIf="controls"
    class="btn-carousel btn-prev"
    (click)="onPrevClick()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-left-circle icon-carousel icon-prev"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
      />
    </svg>
  </button>
  <button
    *ngIf="controls"
    class="btn-carousel btn-next"
    (click)="onNextClick()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-right-circle icon-carousel icon-prev"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
      />
    </svg>
  </button>
</div>
